@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Texturina', serif;
}

.app_container {
    
}