.category__container {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;

}


.category__container img {
    max-width: 170px;
    height: 220px;
    min-width: 100%;
    border-radius: 15px;
    filter: brightness(55%);
}

.category__container p {
    max-width: 160px ;
    max-height: 50px;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    align-self: center;
    position: relative;
    bottom: 55%;
    z-index: 3;
    color:white;
    text-align: center; 
}
