.category__container {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   


.category__container img {
    max-width: 170px;
    height: 220px;
    min-width: 100%;
    border-radius: 15px;
    filter: brightness(55%);
}

.category__container p {
    position: relative;
    max-width: 160px ;
    max-height: 0px;   
    top: -150px;
    font-weight: bold;
    font-size: 1.5rem;

    color:white;
    text-align: center; 
}
