.favourite-tastes-slide-bar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: white;
    padding-top: 80px;
}

.favourite-tastes-slide-bar__container > h2 {
    padding: 0.5em;
}

.favourite-tastes-slide-bar__container__slidebar {
    display: flex;
    justify-content: center;
    position: relative;
}
