.favourite-tastes-slide-bar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    background-color: white;
    padding-top: 120px;
}

.favourite-tastes-slide-bar__container > h2 {
    padding: 0.5em;
}

.favourite-tastes-slide-bar__container__slidebar {
    display: flex;
    justify-content: center;
    position: relative;
}

.favourite-tastes-slide-bar__container img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .favourite-tastes-slide-bar__container img {

        max-height: 5.5rem;
    }
}
