.food__container {
    padding: 0.2rem;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.food__container img {
    max-width: 170px;
    height: 250px;
    min-width: 100%;
    border-radius: 15px;
    filter: brightness(60%);
}

.food__container p {
    font-size: 1.15rem;
    text-align: center;
    align-self: center;

    color:black;
}

.food__table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.food__table tr {
    padding: 2rem;
}