.foods__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.foods__container h1 {
    font-weight: bold;
    padding: 10px;
    width: 100%;
    text-align: center;
}

