.food-page__container {

}

.food-page__content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.food-page__content img {
    border-radius: 1rem;
    filter: brightness(75%);
}

.food-page__name > p {
    font-size: 2rem;
}

.food-page__table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.food-page__des > p {
    font-size: 1.2rem;
}