.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer__container div {
    
    padding: 0.2rem;
    font-size: 2.5rem;
}

.footer__container div a  {
    color: black;
}


.footer__container p a {
    color: black;
    padding: 0.3rem;
    font-size: 1.5rem;
}

#footer__designer-signature {
    padding-top: 0.2rem;
    font-size: 13px;
    color: grey;
}

