.sidebar__container {
    position: fixed;
    width: 75%;
    left: -100%;
    z-index: 5;
    height: 100%;
    background-color: #fe5722;
    transition: all 0.3s ease-in-out;
}

.sidebar__items {

    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.sidebar__item {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    border-top: 1px solid #854217;
}

.sidebar__item:hover {
    background-color: #854217;
}

.sidebar__toggle {
    font-size: 1.6rem;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.sidebar__toggle:hover {
    background-color: #854217;
}


.active {
    left: 0%;
}